<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/resources/**" security="none"/>
	<http pattern="/log*" security="none"/>

	<http auto-config="true">
        <intercept-url pattern="/users/*" access="ROLE_USER" />
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-page="/index" authentication-success-handler-ref="successHandler" 
			authentication-failure-handler-ref="errorHandler"/>
        <logout logout-success-url="/index" />
		<access-denied-handler error-page="/index"/>
	</http>

	<authentication-manager>
		<authentication-provider ref="customAuthenticatorProvider"></authentication-provider>
	</authentication-manager>
	
	<beans:bean id="successHandler" class="com.hangarservicios.security.SuccessHandler">
	</beans:bean>
	
	<beans:bean id="errorHandler" class="com.hangarservicios.security.ErrorHandler">
	</beans:bean>
	
	<beans:bean id="customAuthenticatorProvider" class="com.hangarservicios.security.CustomAuthenticationProvider">
	</beans:bean>

</beans:beans>
